@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

*{ /* left,right,top,buttom e margin padding 0 korte */
    margin             : 0;
    padding            : 0;
}
.btn{
    padding: 14px 18px 14px 18px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer; 

background: rgb(82, 195, 3);
border: none;
}
.btn-container{
    text-align: center;
}


#hero{
    height: 653px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-size: cover; /* image ke thik korar jonne */
    background-position: center; /* image ke majhe ante */
    display            : flex;
    justify-content    : center;
    align-items        : center;
    gap: 20px;
    margin-bottom: 10px;
}
#hero .hero-content{
    width              : 727px;
}
#hero .hero-content .subtitle{
    color              : rgb(255, 255, 255);
    font-family        : Work Sans;
    font-size          : 20px;
    font-weight        : 600;
    line-height        : 38px;
    letter-spacing     : 0%;
    text-align         : center;
    opacity            : 0.8;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7; /* kototuku transparent thakbe ta define kore */
    margin-bottom: 32px;
}
#card-box{
    width: 938px;
    margin: 100px auto;
}
#card-box .info{
    
}

#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6; /* opacity is a property */
}
.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
}
.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    text-align: center;
}

.card .shop{
    padding: 8px 18px 10px 18px;
    border-radius: 8px;

background: rgba(82, 195, 3, 0.15);
}











